body{
    padding: 0;
    margin: 0;
}

.background{
    width: 100%;
    height: 100%;
    background: url(https://images.pexels.com/photos/1083822/pexels-photo-1083822.jpeg?cs=srgb&dl=pexels-lisa-fotios-1083822.jpg&fm=jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.home{
Width: auto;
Height: auto;
}
